<div class="container">
  <mat-card>
    <form class="image-info-form">
      <p>
        <a mat-raised-button color="primary"  [href]="getNakedImageUrl()" download="">ダウンロード</a>
      </p>
      <p>
        <mat-form-field class="image-info-form-image-url">
          <input matInput #imageUrl placeholder="画像URL" [value]="getNakedImageUrl()" readonly="true">
        </mat-form-field>
        <button mat-raised-button color="primary" [ngxClipboard]="imageUrl">コピー</button>
      </p>
      <p>
        <mat-form-field class="image-info-form-full-width">
          <input matInput #imageLink placeholder="リンク" [value]="geImageLink()" readonly="true">
        </mat-form-field>
        <button mat-raised-button color="primary" [ngxClipboard]="imageLink">コピー</button>
      </p>
      <p>
        <mat-form-field class="image-info-form-full-width">
          <input matInput #markDown placeholder="Markdown" [value]="getMarkdown()" readonly="true">
        </mat-form-field>
        <button mat-raised-button color="primary" [ngxClipboard]="markDown">コピー</button>
      </p>
    </form>
  </mat-card>
</div>
