.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

mat-card {
  height: 100%;
  padding: 10px;
}

.tags-wapper {
  width: 80%;
  margin: auto;
}

mat-chip-list {
  display: block;
  margin: auto;
}

.tag-chip {
  cursor: pointer !important;
}
