.images-dialog-container {
  width: 100%;
  height: 100%;
}

.images-dialog-container:hover .chevron {
  transition: all 1s ease;
  opacity: 1;
}

.main-image-wapper {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.50);
}

.main-image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: contain;
}

app-tags {
  display: block;
  width: 100%;
  height: 5%;
}

app-images-info {
  display: block;
  width: 100%;
  height: 20%;
}

app-images-related {
  display: block;
  width: 100%;
  height: 25%;
}

.chevron {
  opacity: 0;
}


.chevron-left {
  position: fixed;
  left: 10%;
  top: 50%;
}

.chevron-right {
  position: fixed;
  right: 10%;
  top: 50%;
}