<div class="images-dialog-container">
  <div class="main-image-wapper">
    <div class="main-image" [ngStyle]="{'background-image': 'url(' + getImage(image.id, image.ext) + ')'}"></div>
  </div>
  <app-tags [tags]="tags"></app-tags>
  <app-images-info [image]="image" [tags]="tags"></app-images-info>
  <app-images-related [image]="image" (idChange)="onChangeRelatedImage($event)"></app-images-related>

  <button mat-fab class="chevron chevron-left" (click)="onClickPrevious()" *ngIf="isEnabledPrevious()">
    <mat-icon class="" aria-label="">chevron_left</mat-icon>
  </button>

  <button mat-fab class="chevron chevron-right" (click)="onClickNext()" *ngIf="isEnabledNext()">
    <mat-icon class="" aria-label="">chevron_right</mat-icon>
  </button>
</div>
