footer {
  height: 80px;
  padding: 10px;
  text-align: center;
  background-color: #424242;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.logo-row {
  margin: 10px auto auto auto;
  font-size: 120%;
}

.license-row {
  margin: 10px auto auto auto;
}